.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pet-info{
  display: flex;
  margin-left: 23%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.cat img, .dog img{
  width: 380px;
  height: 230px;
}

.cat img {
  margin-left: 30px;
}

.dogName, .catName {
  position: relative;
}

.dog-name, .cat-name{
  display: flex;
  justify-content: center
}

.prev-button, .next-button{
  position: absolute;
  background: none;
  border: none;
  font-size: 20px;
}

.prev-button {
  left: 30%;
  top: -5px;
}

.next-button{
  right: 30%;
  top: -5px;
}

.back-home {
  padding: 1%;
  color: black;
  background: rgb(247, 202, 119);
  border-radius: 5px;
  text-decoration: none;
}